In [2]:
#Author Mahdi Moqri

In [3]:
import os
import pandas as pd

In [4]:
# read table
public_link='https://raw.githubusercontent.com/singator/bdah/master/data/frmgham2.csv'
df = pd.read_csv(public_link,index_col=0,usecols=['RANDID','PERIOD','BMI'])
df.head(4)

          BMI  PERIOD
RANDID
2448    26.97       1
2448      NaN       3
6238    28.73       1
6238    29.43       2

In [6]:
df.to_csv(os.getcwd()+'/processed/exams.csv')