In [1]:
#Author Mahdi Moqri

In [2]:
import os
import pandas as pd

In [7]:
# read table
public_link='https://raw.githubusercontent.com/singator/bdah/master/data/frmgham2.csv'
df = pd.read_csv(public_link,index_col=0,usecols=['RANDID','PERIOD','TIME','BMI'])[['PERIOD','TIME','BMI']]
df.head(4)

        PERIOD  TIME    BMI
RANDID
2448         1     0  26.97
2448         3  4628    NaN
6238         1     0  28.73
6238         2  2156  29.43

In [8]:
df.to_csv(os.getcwd()+'/processed/exams.csv')