In [1]:
#Author Mahdi Moqri

In [4]:
import os
import pandas as pd

In [5]:
# "frmgham2.csv": https://gen3.biodatacatalyst.nhlbi.nih.gov/files/dg.4503/9c277b3d-3fab-401e-b1dd-d2e6c7991cbc
# data dic here: https://biolincc.nhlbi.nih.gov/media/teachingstudies/FHS_Teaching_Longitudinal_Data_Documentation_2021a.pdf?link_time=2022-04-18_09:29:24.200176

In [6]:
# read table
public_link='https://raw.githubusercontent.com/singator/bdah/master/data/frmgham2.csv'
df = pd.read_csv(public_link,index_col=0,usecols=['RANDID','AGE','SEX','DEATH','TIMEDTH'])
df.head(2)

        SEX  AGE  DEATH  TIMEDTH
RANDID
2448      1   39      0     8766
2448      1   52      0     8766

In [7]:
# make unique
df=df.groupby('RANDID').min()
df.head(2)

        SEX  AGE  DEATH  TIMEDTH
RANDID
2448      1   39      0     8766
6238      2   46      0     8766

In [8]:
# add cause of death
df['CDEATH']=999

In [9]:
df.to_csv(os.getcwd()+'/processed/participants.csv')